/* Style de la racine */
.root {
    -fx-background-image: url('../images/image.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 20;
}

/* Label principal */
.title-label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-padding-top:20px
    -fx-text-fill: #f2b008;
}

/* Champs de texte */
.text-field{
        -fx-font-size: 16px;
        -fx-pref-width: 300px;
        -fx-background-color: rgba(255, 255, 255, 0.8);
        -fx-border-color: #cccccc;
        -fx-border-radius: 5px;
        -fx-padding: 5px;
    }
.password-field {
    -fx-font-size: 16px;
    -fx-pref-width: 300px;
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Bouton 'eye' */
.eye-button {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

/* Bouton connexion */
.button {
    -fx-background-color: #f2b008;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #e0a306;
}

/* Label d'erreur */
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 14px;
}