.root {
    -fx-background-image: url('../images/image.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.background-overlay {
    -fx-opacity: 0.2;
}

.titre {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #955303;

}
.button {
    -fx-background-color: #f2b008;

    -fx-border-color: #ccc;

    -fx-padding: 10px 20px;

    -fx-font-size: 14px;

}
.button:hover {
    -fx-background-color: #eac861;
}

/* Appliquer les styles au tableau */
.table-view {
    -fx-pref-width: 400px;
    /* Ajustez la largeur du tableau */
    -fx-font-size: 14px;
}

.table-view .column-header {
    -fx-background-color: #ffffff;
    -fx-text-fill: rgb(206, 203, 203);
}

.table-view .table-row-cell {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #e1e1e1;
}