/* Espace entre le contenu et les bords de l'écran */
.root {
    -fx-background-image: url('../images/image.jpg');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-padding: 25px;
    /* Ajouter un espacement de 20px autour du contenu */
}

/* Style de la superposition de fond */
.background-overlay {
    -fx-opacity: 0.2;
}

/* Titre de la page */
.titre {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #955303;
}

/* Sous-titre */
.titre1 {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

/* TextField dans titre1 */
.titre1 TextField {
    -fx-font-size: 17px;
}

/* Boutons */
.button {
    -fx-background-color: #f2b008;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #eac861;
}

/* TextField et ComboBox */
.text-field {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
}

.combo-box {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #ccc;
}

/* En-tête des colonnes du TableView */
.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-font-size: 17px;
}